body {
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth; 
  }
main {
    background-color: #282828;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
/* Header Start */
.header {
    background-color: #105C87;
    width: 100%;
    height: 135px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 17.5px;
}
.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    padding: 0%;
}
.nav-link {
    text-decoration: none;
    color: #FFFFFF;
}
.nav-link:after {
    content: '';
    display: block;
    height: 1px; /* Высота линии */
    background: #FFFFFF; /* Цвет линии */
    width: 0px; /* Ширина линии до наведения */
    margin: 0; /* Отступ с боков по центру и сверху */
	transition: 1s; /* Время, за которое линия возвращается после наведения */
}
.nav-link:hover:after {
    width: 100%; /* Ширина линии при наведении */
	transition: ease-out 0.5s; /* Время, за которое линия расширяется при наведении */
}
.lang {
    width: 90px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background: #105C87;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: center;
    transition: 1s;
}
.lang:hover {
    background: #282828;
    border: 0px
}
/* Header END */

/* Introduce */
.introduce {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}
.introduce-text {
    width: 820px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.introduce-h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #E0E5E9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: 
    linear-gradient(currentColor 0 0) left  var(--p, 50%) bottom 0 /var(--d, 20px) 3px no-repeat,
    linear-gradient(currentColor 0 0) right var(--p, 50%) bottom 0 /var(--d, 20px) 3px no-repeat;
    transition: 3s, background-position 0s;
    margin-bottom: 0;
}
.hover1 {
    --d: 100%;
    --p: 100%;
    transition: 1s, background-size 1s 1s;
  }
.me {
    width: 350px;
    height: 350px;
}
/* Introduce END */

/* About me */ 
.about-me {
    height: 330px;
    padding-top: 148px;
}
.about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #E0E5E9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}
.about-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #E0E5E9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%px;
    margin-top: 88px;
    margin-right: 0;
}
/* About me END */

/* Contacts and soft */
.contacts-soft {
    height: 500px;
    padding-top: 88px;
    display: flex;
    justify-content: space-between;
}
.contacts {
    width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts-h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #E0E5E9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contacts-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.contacts-item {
    display: flex;
    width: 326px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.contacts-item:last-child {
    width: 512px;
}
.contacts-item:first-child {
    width: 312px;
}
.contacts-h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #E0E5E9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}
.contacts-img {
    width: 64px;
    height: 64px;
}
.soft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 352px;
    height: 452px;
    margin-right: 150px;
}
.soft-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #E0E5E9;
}
.line {
    width: 100%;
    height: 3px;
    background: #E0E5E9;
}
/* Contacts and soft END */

/* Experience */ 
.experience {
    width: 100%;
    height: 555px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.exp-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 72px;
    color: #E0E5E9;

}
/* Experience END*/ 

/* Skills */
.skills {
    height: 680px;
    width: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
}
.skills-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.current-skills-list {
    margin: 0;
    padding-top: 95px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.csl-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.skills-img {
    width: 64px;
    height: 64px;
    margin-right: 30px;
}
.progress-skills-list {
    margin: 0;
    padding-top: 37px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 350px;
}
.progress-skills {
    margin-bottom: 100px;
}
/* Skills END*/